{% extends "layout.html.twig" %}

{% block content %}
<div class="container-fluid">
    <div class="card bg-light border-0">
        <h3 class="card-title">Customers</h3>
    </div>
    <div class="card-body">
        <h5>List of Customers</h5>
        <div class="card">
        {% if customers is not empty %}
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Orders</th>
                    </tr>
                </thead>
                <tbody>
                {% for customer in customers %}
                  <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.fullName }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.orders|length }}</td>
                  </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card-footer">
                <span class="text-muted">
                    Showing a total of <span class="badge badge-secondary">{{customers|length}}</span> customers
                </span>
            </div>
        {% else %}
            <p>No customers, for now!</p>
        {% endif %}
        </div>
    </div>
</div>
 {% endblock %}
