<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pagetitle}}</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link href="/css/daterangepicker.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/css/fontawesome.min.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="icon" type="image/png" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
    <div id="loader-wrapper">
        <div id="loader"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 sidebar navbar-light bg-light">
                <a class="navbar-brand" href="/">{{name}}</a>
                <ul class="nav nav-sidebar flex-column justify-content-between">
                    {% for item in menu%}
                    <li {% if item.active %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
                        <a href="{{ item.url}}" class="nav-link"><span class="fa fa-{{ item.icon }}">&nbsp;</span>{{ item.label }}</a>
                    </li>
                    {% endfor%}
                </ul>
                <div class="navbar fixed-bottom mb-2">
                    {% if env == 'development' %}
                    <div class="small">
                        <span class="alert alert-warning">Test Environment</span>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="col-sm-12 col-sm-offset-12 col-md-10 col-md-offset-2 main">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="container-fluid">
                            {% if noheader is null %}
                                <div class="row">
                                    <div class="card bg-light border-0 col">
                                        <h3 class="card-title">{{title}}</h3>
                                    </div>
                                </div>
                            {% endif %}
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    {% block javascript %}{% endblock %}
</body>
</html>
