{% extends "layout.html.twig" %}

{% block content %}
<div class="container-fluid">
    <div class="card bg-light border-0">
        <h3 class="card-title">Orders</h3>
    </div>
    <div class="card-body">
        <h5 class="card-title">Filters</h5>
        <div class="row">
            <div class="col col-lg-8 col-md-6 col-sm-12">
                <input name="daterange" type="text" class="form-control"/>
            </div>
            <div class="col col-lg-2 col-md-6 col-sm-12">
                <form action="orders" method="get" class="form-inline">
                <input name="dateFrom" id="dateFrom" style="display:none;" value="{{criteria.dateFrom}}"/>
                <input name="dateTo" id="dateTo" style="display:none;" value="{{criteria.dateTo}}"/>
                <button type="submit" class="btn btn-primary ml-5 form-control form-control-sm">Search</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">List of Orders</h5>
        <div class="card">
        {% if orders is not empty %}
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Purchased At</th>
                        <th>Customer</th>
                        <th>Country</th>
                        <th>Items</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                 <tr>
                    <td><a href="orders/{{ order.id }}">{{ order.id }}</a></td>
                    <td>{{ order.purchaseDate|date("Y-m-d H:i:s") }}</td>
                    <td>{{ order.customer.fullName }}</td>
                    <td>{{ order.country }}</td>
                    <td>{{ order.orderItems|length }}</td>
                 </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="card-footer">
                <span class="text-muted">
                    Showing a total of <span class="badge badge-secondary">{{orders|length}}</span> orders
                </span>
            </div>
        {% else %}
            <p>No orders found.</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="/js/moment.js"></script>
<script type="text/javascript" src="/js/daterangepicker.js"></script>
<script type="text/javascript" src="/js/daterangepicker-options.js"></script>
<script type="text/javascript">
$('input[name="daterange"]').daterangepicker(daterangepickerOptions,
    function(start, end, label) {
        $("#dateFrom").val(start.format('YYYY-MM-DD HH:mm:ss'));
        $("#dateTo").val(end.format('YYYY-MM-DD HH:mm:ss'));
    }
);
</script>

{% if criteria is not empty %}
<script type="text/javascript">
$(function() {
    var picker = $('input[name="daterange"]').data('daterangepicker');
    picker.setStartDate(moment($("#dateFrom").val()));
    picker.setEndDate(moment($("#dateTo").val()));
});
</script>
{% else %}
<script type="text/javascript">
$(function() {
    var picker = $('input[name="daterange"]').data('daterangepicker');
    picker.setStartDate(moment().startOf('month'));
    picker.setEndDate(moment().endOf('month'));
    $("#dateFrom").val(picker.startDate.format('YYYY-MM-DD HH:mm:ss'));
    $("#dateTo").val(picker.endDate.format('YYYY-MM-DD HH:mm:ss'));
});
</script>
{% endif %}
{% endblock %}
