{% extends "layout.html.twig" %}

{% block content %}
<div class="container p-5">
  <h3>Order {{order.id}}</h3>
  <div class="card">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Purchased At</th>
          <th>Customer</th>
          <th>Country</th>
          <th>Items</th>
          <th>Revenue</th>
        </tr>
      </thead>

      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.purchaseDate|date("Y-m-d H:i:s") }}</td>
        <td>{{ order.customer.fullName }}</td>
        <td>{{ order.country }}</td>
        <td>{{ order.orderItems|length }}</td>
        <td>{{ (revenue/100)|number_format(2) }} EUR</td>
      </tr>

    </table>

  </div>

  <div class="mt-5">
      <a href="/orders">Back</a>
  </div>
</div>
 {% endblock %}
